#about{

    /* GENERAL STYLING */
    html {
      font-family: Barlow;
    }
    .color-white {
        color: #fff;
    }
    .color-black {
        color: #000;
    }
    .color-purple {
        color: #6626EE;
    }
    .color-grey {
        color: #9A9696;
    }
    .bg-white {
        background-color: #fff;
    }
    .bg-black {
        background-color: #000;
    }
    .bg-purple {
        background-color: #6626EE;
    }
    .bg-grey {
        background-color: #9A9696;
    }

    /* OUR MISSION */
    .our-mission-section {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
    .our-mission-section .title-description {
    font-weight: 600;
    }

    /* OUR VISSION */
    .our-vision-section {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }

    /* TEAM SECTION */
    .team-section {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
    .team-section .profile{
        padding-bottom: 2rem;
    }
    .team-section .profile .name{
        padding-bottom: 0rem;
    }
    .team-section .profile .job-title{
        font-size: 10px;
        font-weight: 600;
    }
    @media (max-width: 550px) {
        .ideaco_header, .ideaco_footer {
            padding: 30px 30px 25px 30px;
        }
    }
    .ideaco_header--modifier {
        background: #fff;
    }
}
