#about{

    /* GENERAL STYLING */
    html {
      font-family: Barlow;
    }
    .color-white {
        color: #fff;
    }
    .color-black {
        color: #000;
    }
    .color-purple {
        color: #6626EE;
    }
    .color-grey {
        color: #515151;
    }
    .bg-white {
        background-color: #fff;
    }
    .bg-black {
        background-color: #000;
    }
    .bg-purple {
        background-color: #6626EE;
    }
    .bg-grey {
        background-color: #9A9696;
    }
    .bg-light-grey {
        background-color: #FAFAFA   ;
    }
    button {
        width: 245px;
        height: 58px;
        color: #fff;
        background-color: #6626EE;
        font-size: 18px;
        border: none;
        outline: none;
        border-radius: 10px;
        line-height: 40px;
        background: -webkit-gradient(linear, left top, left bottom, from(#6626EE), to(#4106BD));
        background: linear-gradient(180deg, #6626EE 0%, #4106BD 100%);
        -webkit-box-shadow: 0px 5px 15px 3px rgba(102,38,238,0.2);
        box-shadow: 0px 5px 15px 3px rgba(102,38,238,0.2);
    }

    /* OUR MISSION */
    .our-mission-section {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
    .our-mission-section .title-description {
        font-weight: 600;
    }

    /* OUR VISSION */
    .our-vision-section {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }

    /* TEAM SECTION */
    .team-section {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
    .team-section .profile{
        padding-bottom: 2rem;
    }
    .team-section .profile .name{
        text-transform: uppercase;
        padding-top: 1rem;;
        padding-bottom: 0rem;
        font-size: 18px;
    }
    .team-section .profile .job-title{
        font-size: 13px;
        font-weight: 600;
    }
    @media (max-width: 550px) {
        .ideaco_header, .ideaco_footer {
            padding: 30px 30px 25px 30px;
        }
    }
    .ideaco_header--modifier {
        background: #fff;
    }
    .text-space {
        letter-spacing: .3px;
    }
    .button {
        width: 245px;
        height: 58px;
        color: #fff;
        background-color: #6626EE;
        font-size: 18px;
        border: none;
        outline: none;
        border-radius: 10px;
        line-height: 40px;
    }
    button:hover {
        color: #fff;
        background: #6626EE;
        /* border: none; */
    }
}
